<a href="https://colab.research.google.com/github/anilkoduru/OOP-Lab-Assignments/blob/main/Anil_20bcs072_OOPTask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#1st problem
import math
class circle():
  def __init__(self,radius):
    self.radius = radius
  def area(self):
    return math.pi*(self.radius**2)
  def perimeter(self):
    return 2*math.pi*self.radius

rad = int(input("Enter the radius of a circle : "))
c = circle(rad)
print(c.area())
print(c.perimeter())

Enter the radius of a circle : 3
28.274333882308138
18.84955592153876

In [ ]:
#2nd problem
class details:
  def __init__(self,name,emp_id,branch,salary):
    self.name = name
    self.id = emp_id
    self.branch = branch
    self.salary = salary

  def display(self):
    print("Details of the faculty :",self.name,self.id,self.branch,self.salary)

d1 = details("ABCD","ABCD1234","CSE",150000)
d2 = details("EFGH","EFGH5678","ECE",125000)
d3 = details("IJKL","IJKL9012","DSAI",150000)
d4 = details("MNOP","MNOP3456","MECH",120000)
d5 = details("QRST","QRST7890","CIVIL",110000)

d1.display()
d2.display()
d3.display()
d4.display()
d5.display()

Details of the faculty : ABCD ABCD1234 CSE 150000
Details of the faculty : EFGH EFGH5678 ECE 125000
Details of the faculty : IJKL IJKL9012 DSAI 150000
Details of the faculty : MNOP MNOP3456 MECH 120000
Details of the faculty : QRST QRST7890 CIVIL 110000

In [ ]:
#3rd problem
class account:
  def __init__(self,Acc_no,Acc_holder_name,Amount):
    self.number = Acc_no
    self.name = Acc_holder_name
    self.amount = Amount
  def Deposit(self,Amount):
    self.amount += Amount
  def Withdraw(self,Amount):
    if Amount > self.amount:
      print("Insufficient balance")
      exit
    else:
      self.amount -= Amount
  def Checkbalance(self):
    print(self.amount)
  def Accountdetails(self):
    print("Account details are:")
    print(self.number,self.name,self.amount)
  
acc = account("01234","ABCD",1200)
acc.Deposit(100)
acc.Checkbalance()
acc.Withdraw(1200)
acc.Checkbalance()
acc.Withdraw(200)
acc.Accountdetails()

1300
100
Insufficient balance
Account details are:
01234 ABCD 100

In [ ]:
#4th problem
def display():
  print(name,USN)
  for i in range(0,3):
    print(subjects[i] , "-" ,marks[i])

subjects = []
marks = []
name = input("Enter the name of the student : ")
USN = input("Enter USN of the student : ")
for j in range(0,3):
  subject  = input("Enter name of the subject : ")
  subjects.append(subject)
  mark = input("Enter the mark of the subject : ")
  marks.append(mark)

display()

Enter the name of the student : ABCD
Enter USN of the student : 1450248
Enter name of the subject : Maths
Enter the mark of the subject : 75
Enter name of the subject : Phy
Enter the mark of the subject : 72
Enter name of the subject : Che
Enter the mark of the subject : 70
ABCD 1450248
Maths - 75
Phy - 72
Che - 70

In [ ]:
#5th problem
class hospital:
  count1 , count2 = 0 , 0
  def __init__(self,name,date_of_admission):
    self.name = name
    self.admission = date_of_admission
    list_of_symptoms = []
    n = int(input("Total number of symptoms : "))
    for i in range(0,n):
      symptom = input()
      list_of_symptoms.append(symptom)
    print(list_of_symptoms)
    oxygen_level = input("Enter oxygen level : ")
    if oxygen_level < "90":
      print("Oxygen mask is required")
      hospital.count1 = hospital.count1 + 1
    else:
      print("Normal observation")
      hospital.count2 = hospital.count2 + 1
    data_of_discharge = input("Estimated data of discahrge : ")
  def data(self):
    print("Number of patients in oxygen support : " ,hospital.count1)
    print("Number of patients in observation : " ,hospital.count2)
    print("Total number of patients : ",hospital.count1+hospital.count2)

p1 = hospital("ABCD","12-08-2021")
p2 = hospital("EFGH","13-08-2021")
P3 = hospital("IJKL","13-08-2021")
p1.data()

Total number of symptoms : 2
cold
fever
['cold', 'fever']
Enter oxygen level : 93
Normal observation
Estimated data of discahrge : 20-08-2021
Total number of symptoms : 3
cold
fever
cough
['cold', 'fever', 'cough']
Enter oxygen level : 89
Oxygen mask is required
Estimated data of discahrge : 27-08-2021
Total number of symptoms : 2
cold
bodypains
['cold', 'bodypains']
Enter oxygen level : 94
Normal observation
Estimated data of discahrge : 21-08-2021
Number of patients in oxygen support :  1
Number of patients in observation :  2
Total number of patients :  3

In [11]:
#6th problem
class time:
  def __init__(self):
    self.hours , self.minutes , self.seconds = 0 , 0 , 0
  def __init__(self,hours,minutes,seconds):
    self.hours = hours
    self.minutes = minutes
    self.seconds = seconds
  def order(self):
    print(self.hours,":",self.minutes,":",self.seconds)

t = time(10,21,52)
t.order()

10 : 21 : 52

In [4]:
#7th problem
class student:
  def __init__(self,name,age,roll_no):
    self.name = name
    self.age = age
    self.num = roll_no
  def compare(self,std):
    if self.age == std.age:
      print("EQUAL")
    else:
      print("NOT EQUAL")

std1 = student("rahul" , 21 , 33)
std2 = student("rohit", 22 , 72)
std1.compare(std2)

NOT EQUAL

In [8]:
#8th problem
class student:
  sem = 3
  institute = "IIIT Dharwad"
  def __init__(self,name,usn):
    self.name = name
    self.usn = usn
  def accessinstance(self):
    print("student name : ",self.name)
    print("student usn : " , self.usn)
  def accessvariable(self):
    print("student sem : ",student.sem)
    print("student institute : ",student.institute)

stu = student("Anil",72)
stu.accessinstance()
stu.accessvariable()

student name :  Anil
student usn :  72
student sem :  3
student institute :  IIIT Dharwad

In [16]:
#9th problem
class student:
  name = "Anil"
  roll_no = 72
  sem = 3
  def details(self):
    print(student.name,student.roll_no,student.sem)
  class laptop:
    def __init__(self):
      self.brand = "hp"
      self.cpu = "i5"
      self.ram = "8gb"
    def show(self):
      print(self.brand,self.cpu,self.ram)

s = student()
s.details()
l = student.laptop()
l.show()

Anil 72 3
hp i5 8gb